.overlay {
  @extend .centerBox;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #f7f7f7;
  background: rgba(3, 7, 16, .8);
  pointer-events: none;
  opacity: 0;
  transition: all .3s;
  .modal {
    width: 830px;
    height: 600px;;
    background: white;
    opacity: 0;
    transition: opacity .3s ease, height .3s ease;
    transition-delay: .1s;
    pointer-events: fill;
    pointer-events: none;
    overflow: hidden;
    .modal--header {
      padding: 15px 30px;
      background: $blue;
      color: white;
      h2 {
        color: white;
      }
    }
    .modal-content {}

  }
  &.active {
    opacity: 1;
    pointer-events: fill;
    .modal {
      opacity: 1;
      pointer-events: fill;

    }
  }
}
